footer {
  width: 100%;
  background-color: #575757;
  position: relative;
}
footer::after{
  display: block;
  content: "";
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #f1f2f2;
}
footer div.wrap {
  display: flex;
  height: 166px;
}
footer div.wrap h3 {
  width: 300px;
  font-size: 13px;
  background-color: #575757;
  color: #B5B4B4;
  position: relative;
}
footer div.wrap h3::before{
  content: "";
  display: block;
  width: 70px;
  height: 90px;
  position: absolute;
  background-image: url(../img/logo2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 30px;
  left: -30px;
}
footer div.wrap h3 p {
  margin-top: 75px;
  margin-left: 60px;
  line-height: 1.5;
}
footer div.wrap2{
  background-color: #f1f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
footer div.wrap2 .top {
  gap: 20px;
} 
footer div.wrap2 .top li {
  border-right: 1px solid;
  padding-right: 11px;
  height: 20px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  color: #242424;
  z-index: 1;
}
footer div.wrap2 .top li:nth-child(4){
  font-size: 20px;
}
footer div.wrap2 .top li:nth-child(7){
  border: none;
}
footer div.wrap2 .middle{
  flex-direction: column;
  position: relative;
  margin-bottom: 25px;
  height: 50px;
}
footer div.wrap2 .middle li{
  position: absolute;
  font-size: 12px;
  color: #555555;
}
footer div.wrap2 .middle li:nth-child(1){
  top: 22px;
  font-size: 15px;
  font-weight: bold;
}
footer div.wrap2 .middle li:nth-child(2){
  left: 210px;
  top: 25px;
} 
footer div.wrap2 .middle li:nth-child(3){
  left: 210px;
  top: 50px;
}
footer div.wrap2 .middle span{
  margin-left: 15px;
}
footer div.wrap2 .middle span::before{
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url(../img/call.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 10px;
  background-position: center;
}
footer div.wrap2 .bottom {
  margin-top: 10px;
  gap: 15px;
}
footer div.wrap2 .bottom li {
  color: #555555;
  font-size: 12px;
  z-index: 1;
  border-right: 1px solid;
  height: 13px;
  width: 200px;
}
footer div.wrap2 .bottom li:nth-child(4){
  
  border: navajowhite;
}
